In [5]:
import MySQLdb as mys
import pandas as pd

db = mys.connect(host='localhost', user='root', db="praneetha_example")
print "Connected to database"

cur = db.cursor()

cur.execute('SELECT * FROM zikachart')
zdata = cur.fetchall()

df = pd.DataFrame([[j for j in i] for i in zdata])

headings = [h[0] for h in cur.description]
heads = {x:headings[x] for x in xrange(len(headings))}
df.rename(columns=heads, inplace=True)
df = df.sort(['report_date'], ascending=[1])

df.head()

Connected to database

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
101281,2015-11-28,Mexico-Michoacan_de_Ocampo,state,yearly_cumulative_female,MX0002,NA,NA,0,cases
101235,2015-11-28,Mexico-Baja_California,state,weekly_zika_confirmed,MX0001,NA,NA,0,cases
101236,2015-11-28,Mexico-Baja_California_Sur,state,weekly_zika_confirmed,MX0001,NA,NA,0,cases
101237,2015-11-28,Mexico-Campeche,state,weekly_zika_confirmed,MX0001,NA,NA,0,cases
101238,2015-11-28,Mexico-Chiapas,state,weekly_zika_confirmed,MX0001,NA,NA,1,cases